[:bug:] Bearer authorization scheme should be enforced

**Type:**
🐛 

**Description:**
[Section 2.1 of RFC 6750](https://tools.ietf.org/html/rfc6750#section-2.1) defines the syntax for Bearer credentials as follows:

```
b64token    = 1*( ALPHA / DIGIT /  "-" / "." / "_" / "~" / "+" / "/" ) *"="
credentials = "Bearer" 1*SP b64token
```

And specifies usage as following:

> Clients SHOULD make authenticated requests with a bearer token using the "Authorization" request header field with the "Bearer" HTTP authorization scheme.

However, [as seen here](https://github.com/Testlio/lambda-foundation/blob/master/lib/authentication/index.js#L43-L45) Lambda foundation does not enforce usage of the Bearer authorization scheme. Meaning clients incorrectly using Bearer tokens in the header without defining the scheme will succeed as well.

**Version:**
2.4.1

**Environment:**
N/A

**Steps to reproduce:**

```
$ cat index.js

const foundation = require('lambda-foundation');
const auth = foundation.authentication;

const tokenWithoutScheme = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJmb29AYmFyLmNvbSJ9.b-XNAxOtIzs-2CG3VrxcGNgqlQwH9poH_2MVfCDz8A0';

auth.authenticate(tokenWithoutScheme).then(() => console.log('success'));

$ node index.js
success
```

**Expected result:**
Exception is thrown.

**Actual result:**
Decoded token is returned as Promise result.


Fixed in #32 and released in `v3.0.0`